/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 80%;
    font-family: "Open Sans", sans-serif;
}


/* COMMON */
.container {
    width: 70%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.width-15 {
    width: 15%;
}

.width-30 {
    width: 30%;
}

.width-70 {
    width: 70%;
}

.padding-3-0 {
    padding: 3em 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

p {
    line-height: 1.6em;
    font-weight: 600;   
}

img {
    width: 100%;
}

/* UL */
ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 0 1em;
}

nav a {
    font-size: .9em;
    font-weight: 700;
}

/* BUTTONS */
.btn {
    margin: 0 .8em;
    font-weight: 600;
    border-radius: 1.5em;
}

.small-btn {
    padding: .6em 1em;
    border-radius: 1.5em;
}

.large-btn {
    padding: .8em 1.75em;
    border-radius: 1.5em;
}

.light-btn {
    color: #23272a;
    background-color: #ffffff;
}

.color-btn {
    color: #ffffff;
    background-color: #94a3f5;
}

.dark-btn {
    color: #ffffff;
    background-color: #23272a;
}

/* HEADER */
.header {
    background-color: #255ee9;
}

nav .col {
    height: 60px;
    line-height: 60px;
    text-align: center;
}

img.logo {
    vertical-align: middle;
    width: 100px;
}

/* JUMBOTRON */
.jumbotron {
    height: 350px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.jumbo-content {
    padding: 6em 0;
    margin: 0 auto;
    width: 45%;
    min-width: 400px;
    text-align: center;
    color: #ffffff;
}

.jumbo-title {
    margin-bottom: .7em;
    font-size: 3em;
}

.jumbo-content p {
    margin-bottom: 2.4em;
    font-weight: 600;
}

/* MAIN */
h2 {
    margin-bottom: .8em;
    line-height: 1.2em;
    font-size: 2em;
    color: #23272a;
}

.col p {
    color: #23272a;
}

main .width-70:first-child {
    padding-right: 6em;
}

main .width-70:nth-child(2) {
    padding-left: 6em;
}

/* BACKGROUND */
.box {
    margin-top: 6em;
}

.box-bg {
    padding: 8em 0;
    background-color: rgba(0, 0, 0, .05);
}

.box.even::before,
.box.last::before {
    content: url(../img/wave.svg);
    display: block;
    margin-bottom: -4px;
    opacity: 5%;
}

.box.even::after {
    content: url(../img/wave.svg);
    display: block;
    margin-top: -4px;
    opacity: 5%;
    transform: rotate(180deg);
}

/* SECTION-04 */
.box.last {
    text-align: center;
    color: #23272a;
}

.box.last span {
    padding: 1.5em;
    line-height: 5em;
    font-size: 1.5em;
    font-weight: 600;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* FOOTER */
footer {
    background-color: #23272a;
}

footer .width-30>* {
    margin-bottom: 1.2em;

}

footer h3 {
    font-size: 1.5em;
    color: #94a3f5;
}

.col-lang {
    width: calc(25% - 2em);
    margin-right: 2em;
}

.icons i {
    margin-right: 1em;
    font-size: 1.2em;
    color: #ffffff;
}

/* LISTS */
.col-links {
    width: 75%;
}
.links ul {
    display: inline-block;
    padding: 0 1em;
    vertical-align: top;
    width: 24%;
}

li.ul-title {
    color: #94a3f5;
}

.links li {
    line-height: 2em;
    font-weight: 600;
}
