/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 75%;
    font-family: "Whitney", sans-serif;
}


/* COMMON */
.container {
    width: 70%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.width-15 {
    width: 15%;
}

.width-30 {
    width: 30%;
}

.width-70 {
    width: 70%;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.6em;
    
}

img {
    width: 100%;
}

/* UL */
ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 0 1em;
}

nav a {
    font-size: .9em;
    font-weight: 700;
    color: #ffffff;
}

/* BUTTONS */
.btn {
    margin: 0 .8em;
    font-weight: 600;
    border-radius: 1.5em;
}

.small-btn {
    padding: .75em 1em;
    border-radius: 1.5em;
}

.large-btn {
    padding: 1em 1.75em;
    border-radius: 1.5em;
}

.light-btn {
    color: #23272a;
    background-color: #ffffff;
}

.color-btn {
    color: #ffffff;
    background-color: rgb(148, 163, 245);
}

.dark-btn {
    color: #ffffff;
    background-color: #23272a;
}

/* HEADER */
.header {
    background-color: #255ee9;
}

nav .col {
    height: 60px;
    line-height: 60px;
    text-align: center;
}

img.logo {
    vertical-align: middle;
    width: 100px;
}

.jumbotron {
    height: 350px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.jumbo-content {
    padding: 6em 0;
    margin: 0 auto;
    width: 45%;
    min-width: 400px;
    text-align: center;
    color: #ffffff;
}

.jumbo-title {
    margin-bottom: .7em;
    font-size: 3em;
}

.jumbo-content p {
    margin-bottom: 2.4em;
    font-weight: 600;
}

h2 {
    font-size: 2.5em;
    color: #23272a;
    margin-bottom: .8em;
}

.col p {
    color: #23272a;
}

.width-70:first-child {
    padding-right: 6em;
}


.width-70:nth-child(2) {
    padding-left: 6em;
}

.box {
    margin: 8em 0;
}
.box-bg {
    padding: 8em 0;
    background-color: rgba(0, 0, 0, .05);
}

.box.even::before,
.box.last::before {
    content: url(../img/wave.svg);
    display: block;
    margin-bottom: -4px;
    opacity: 5%;
}

.box.even::after {
    content: url(../img/wave.svg);
    display: block;
    margin-top: -4px;
    opacity: 5%;
    transform: rotate(180deg);
}

.box.last {
    text-align: center;
    color: #23272a;
}

.box.last span {
    padding: 1.5em;
    line-height: 5em;
    font-size: 1.5em;
    font-weight: 600;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}